@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 40px; /* Increased side padding for the entire page */
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #5D6473;
    font-weight: 600;
    margin-bottom: 1em;
}

#blacklist-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#blacklist-form {
    display: flex;
    margin-bottom: 20px;
}

#blacklist-url {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #5D6473;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4b5061;
}

#blacklist {
    list-style-type: none;
    padding: 0;
    margin: 0 auto; /* Center the list */
    max-width: 600px; /* Set a max-width for larger screens */
}

#blacklist li {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 0; /* Remove border-radius for a flat design */
    margin-top: 0; /* Remove space between list items */
    position: relative; /* Add position relative for absolute positioning of the button */
    box-shadow: none; /* Remove box-shadow for a flat design */
}

#blacklist li button {
    position: absolute; /* Position the button absolutely inside the li */
    right: 10px; /* Add space between the button and the list item */
    top: 50%;
    transform: translateY(-50%); /* Center the button vertically */
    padding: 0; /* Remove padding for the button */
    font-size: 1.2em; /* Increase the font size for visibility */
    line-height: 1; /* Adjust line height for the 'x' character */
    width: 1.2em; /* Set width to match height for a square appearance */
    height: 1.2em; /* Set a fixed height for the button */
    text-align: center; /* Center the 'x' symbol horizontally */
    border: none; /* Remove border for a flat design */
    background: transparent; /* Set a transparent background for a flat design */
}

@media (max-width: 768px) {
    #blacklist-form {
        flex-direction: column;
    }

    #blacklist-url {
        margin-right: 0;
        margin-bottom: 10px;
    }

    button {
        width: 100%;
    }
}
