body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
}

.container {
    width: 50%;
    margin: auto;
    padding: 2em;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 5em;
}

h1 {
    color: #1E88E5;
    font-size: 2.5em;
    font-weight: 300;
}

#blacklist-section {
    margin-top: 2em;
}

h2 {
    color: #424242;
    font-size: 2em;
    font-weight: 400;
}

#blacklist-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#blacklist-url {
    width: 80%;
    padding: 0.5em;
    border: none;
    border-bottom: 1px solid #9E9E9E;
}

#add-button {
    font-size: 1.8em;
    color: #FFFFFF;
    background-color: #1E88E5;
    border: none;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    line-height: 0.4em;
    margin-left: 1em;
}

#blacklist {
    list-style: none;
    text-align: left;
    margin-top: 1em;
    padding: 0;
    margin-left: 10%;
}

#blacklist li {
    position: relative;
    margin-bottom: 15px;
}

#blacklist .remove-button {
    position: absolute;
    cursor: pointer;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    color: #f44336;
    font-size: 2em;
    display: none;
}

#blacklist li:hover .remove-button {
    display: initial;
}
#activity-graph-section {
    margin-top: 2em;
}

#activity-graph-section h2 {
    color: #424242;
    font-size: 2em;
    font-weight: 400;
}

#activity-graph {
    margin-top: 1em;
    padding: 0.5em;
    border: none;
    border-bottom: 1px solid #9E9E9E;
    text-align: left;
    margin-left: 10%;
}

/* Additional styles for the activity graph heatmap */
.cal-heatmap-container rect {
    stroke: #e6e6e6; /* Light grey border for the cells */
}

/* Define a blue color range for the heatmap cells */
.cal-heatmap-container rect.q1 { fill: #deebf7; } /* Lightest blue */
.cal-heatmap-container rect.q2 { fill: #9ecae1; }
.cal-heatmap-container rect.q3 { fill: #3182bd; }
.cal-heatmap-container rect.q4 { fill: #08519c; } /* Darkest blue */

/* Style for the legend */
.cal-heatmap-container .legend {
    font-size: 0.8em;
}

/* Style for the tooltip */
.cal-heatmap-container .ch-tooltip {
    background-color: #1E88E5; /* Blue background for the tooltip */
    border-radius: 4px;
    color: white;
    padding: 5px;
    font-size: 0.9em;
}
